/* Write your CSS here */
.button-item {
  list-style: none;
}

.button {
  width: 65px;
  background-color: transparent;
  height: 40px;
  font-size: 16px;
  font-weight: 300;
  border: 0px;
  color: #7b8794;
  border-bottom: 2px solid #7b8794;
  cursor: pointer;
}

.button-active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  font-weight: 600;
}
